//
//  Tests-Base.xcconfig
//  VRHouseFramework
//


// Imports

#include "../../Carthage/Checkouts/xcconfigs/Targets/Application.xcconfig"

// Bundle

_BUNDLE_NAME = VRHouseFrameworkTests
_BUNDLE_IDENTIFIER = co.netguru.internal.3dhouse.framework.tests
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/VRHouseFramework/Supporting Files/Tests-Info.plist
